[Unit]
Description=Software to open the door
Requires=network-online.target

[Install]
WantedBy=multi-user.target
 
[Service]
Type=simple
ExecStart=/opt/deursysteem/scan
Restart=always
